# Masukan API ID ambil di web my.telegram.org
API_ID = "6"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "eb06d4abfb49dc3eeb1aeb98ae0f581e"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQCNZMCGrHxXp2v4DWWajNhbOtckbB1kpBF0QntdnZkPifTfFN_4RvM7dyZaG-wLXEmduI736Zk3VzEGkiegy_Dng74-kmSarKcz0xaB2ClyazGBJSJ4OVgoeG7FtGejxoD7teYmRNNscVPv86o4e0_YgoZFNN8WdNtWhhYzhykaDZG4eHj24ULxrMxc1WrVfbBff1CW7Yi5Hxdzkbc7pui3GxYt3gb1y_9rGbwAWJHp23pqNOe52lUYuDSCG6VxoCa_jQD4UbKARyyIWe682Qrcf2dzGAlYh-GRI7wIs2MVXVvEVl7mxY_-61lGwwavS_Iu2l-GP1AV8YdwDw5mgHB3AAAAAWeyNi8A"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = 0 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "mongodb+srv://Akshaybahman665:akshaybahman7087.@cluster0.99pt4x1.mongodb.net/?retryWrites=true&w=majority"
